header {
  height: 3rem;
  font-size: 1.25rem;
  align-items: center;
}

input {
  height: 2rem;
  border: none;
  border-radius: 5px;
}

button,
i,
a,
input[type="submit"] {
  cursor: pointer;
}

button:active,
i:active {
  transform: translateY(5px);
}

#search-recipes .fa-pencil-alt {
  display: none;
}

.copy-recipe-button {
  margin-top: 1rem;
  display: block;
  text-align: center;
  padding: 0.25rem;
  background-color: #6f1a07;
  color: #f7f3e3;
  border-radius: 5px;
}

.copy-recipe-button:active {
  transform: translateY(5px);
}

.fa-plus-circle:active {
  transform: translateY(0);
}

.card-img {
  width: 90%;
  height: 8rem;
  object-fit: contain;
}

.recipe-photo {
  width: 100%;
  border: 4px solid white;
}

.add-button {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
  color: #f7f3e3;
  background-color: #6f1a07;
}

.save-button,
.search-button {
  color: #f7f3e3;
  background-color: #a8763e;
  font-family: 'Rosario', sans-serif;
}

.save-button:active {
  transform: translateY(5px);
}

.fa-check-square {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-permanent {
  flex-wrap: wrap;
}

.height-100-percent {
  height: 100%;
}

.width-100-percent {
  width: 100%;
}

.width-90-percent {
  width: 90%;
}

.min-height-15rem {
  min-height: 15rem;
}

.max-width-900px {
  max-width: 900px;
}

.margin-auto {
  margin: auto;
}

.margin-top-p75rem {
  margin-top: 0.75rem;
}

.margin-top-bottom-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.object-fit-contain {
  object-fit: contain;
}

.rosario {
  font-family: 'Rosario', sans-serif;
}

.bg-copper {
  background-color: #a8763e;
}

.bg-old-lace {
  background-color: #f7f3e3;
}

.bg-white {
  background-color: white;
}

.bistre {
  color: #2b2118;
}

.barn-red {
  color: #6f1a07;
}

@media screen and (min-width: 768px) {
  .flex-wrap {
    flex-wrap: nowrap;
  }

  .wide-margin-right-2rem {
    margin-right: 2rem;
  }
}
