header {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1.25rem;
  align-items: center;
}

input {
  font-size: large;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: none;
  border-radius: 5px;
}

button,
i,
a,
input[type="submit"] {
  cursor: pointer;
}

button:active,
i:active {
  transform: translateY(5px);
}

#search-recipes .fa-pencil-alt {
  display: none;
}

.copy-recipe-button {
  margin-top: 1rem;
  display: block;
  text-align: center;
  padding: 0.25rem;
  background-color: #6f1a07;
  color: #f7f3e3;
  border-radius: 5px;
}

.copy-recipe-button:active {
  transform: translateY(5px);
}

.fa-plus-circle:active {
  transform: translateY(0);
}

.card-img {
  width: 90%;
  object-fit: contain;
}

.recipe-photo {
  width: 100%;
  border: 4px solid white;
}

.add-button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 5px;
  border: none;
  color: #f7f3e3;
  background-color: #6f1a07;
}

.save-button,
.search-button {
  color: #f7f3e3;
  background-color: #a8763e;
  font-family: 'Rosario', sans-serif;
}

.save-button:active {
  transform: translateY(5px);
}

.fa-check-square {
  font-size: 2rem;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-permanent {
  flex-wrap: wrap;
}

.height-100-percent {
  /* height: 100%; */
}

.width-100-percent {
  width: 100%;
}

.width-90-percent {
  width: 90%;
}

.max-width-900px {
  max-width: 900px;
}

.margin-auto {
  margin: auto;
}

.margin-top-p75rem {
  margin-top: 0.75rem;
}

.margin-top-bottom-1rem {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.text-align-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.object-fit-contain {
  object-fit: contain;
}

.rosario {
  font-family: 'Rosario', sans-serif;
}

.bg-copper {
  background-color: #a8763e;
}

.bg-old-lace {
  background-color: #f7f3e3;
}

.bg-white {
  background-color: white;
}

.bistre {
  color: #2b2118;
}

.barn-red {
  color: #6f1a07;
}

.lds-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner.hidden {
  display: none;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div::after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #a8763e;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .flex-wrap {
    flex-wrap: nowrap;
  }

  .wide-margin-right-2rem {
    margin-right: 2rem;
  }
}
